.input_wrap{
    display: block;
    max-width: 600px;
}

.j-result{
    max-width: 600px;
    position: relative;
}

img {
    width: 100%;
    height: 100%; 
    max-height: 600px;
    object-fit: cover;
  }

  .btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #315efb;
    transition: 0.3s;
    max-width: 120px;
  }
  
  .j-btn-clear{
    background: #fb3131;
  }

  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
  }